cf/WSReferences/Vies/Ext/WSDefinition.xml

<?xml version="1.0" encoding="UTF-8"?>
<definitions xmlns="http://schemas.xmlsoap.org/wsdl/"
		xmlns:soap12bind="http://schemas.xmlsoap.org/wsdl/soap12/"
		xmlns:soapbind="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns:tns="urn:ec.europa.eu:taxud:vies:services:checkVat"
		xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy"
		xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns:xsd1="urn:ec.europa.eu:taxud:vies:services:checkVat:types"
		targetNamespace="urn:ec.europa.eu:taxud:vies:services:checkVat">
	<types>
		<xsd:schema xmlns="urn:ec.europa.eu:taxud:vies:services:checkVat:types"
				xmlns:apachesoap="http://xml.apache.org/xml-soap"
				xmlns:impl="urn:ec.europa.eu:taxud:vies:services:checkVat"
				xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
				xmlns:tns="urn:ec.europa.eu:taxud:vies:services:checkVat:types"
				xmlns:tns1="urn:ec.europa.eu:taxud:vies:services:checkVat:types"
				xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
				xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
				attributeFormDefault="qualified"
				elementFormDefault="qualified"
				targetNamespace="urn:ec.europa.eu:taxud:vies:services:checkVat:types">
			<xsd:element name="checkVat">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="countryCode"
								type="xsd:string"/>
						<xsd:element name="vatNumber"
								type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="checkVatResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="countryCode"
								type="xsd:string"/>
						<xsd:element name="vatNumber"
								type="xsd:string"/>
						<xsd:element name="requestDate"
								type="xsd:date"/>
						<xsd:element name="valid"
								type="xsd:boolean"/>
						<xsd:element maxOccurs="1"
								minOccurs="0"
								name="name"
								nillable="true"
								type="xsd:string"/>
						<xsd:element maxOccurs="1"
								minOccurs="0"
								name="address"
								nillable="true"
								type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="checkVatApprox">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="countryCode"
								type="xsd:string"/>
						<xsd:element name="vatNumber"
								type="xsd:string"/>
						<xsd:element maxOccurs="1"
								minOccurs="0"
								name="traderName"
								type="xsd:string"/>
						<xsd:element maxOccurs="1"
								minOccurs="0"
								name="traderCompanyType"
								type="xsd1:companyTypeCode"/>
						<xsd:element maxOccurs="1"
								minOccurs="0"
								name="traderStreet"
								type="xsd:string"/>
						<xsd:element maxOccurs="1"
								minOccurs="0"
								name="traderPostcode"
								type="xsd:string"/>
						<xsd:element maxOccurs="1"
								minOccurs="0"
								name="traderCity"
								type="xsd:string"/>
						<xsd:element maxOccurs="1"
								minOccurs="0"
								name="requesterCountryCode"
								type="xsd:string"/>
						<xsd:element maxOccurs="1"
								minOccurs="0"
								name="requesterVatNumber"
								type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:element name="checkVatApproxResponse">
				<xsd:complexType>
					<xsd:sequence>
						<xsd:element name="countryCode"
								type="xsd:string"/>
						<xsd:element name="vatNumber"
								type="xsd:string"/>
						<xsd:element name="requestDate"
								type="xsd:date"/>
						<xsd:element name="valid"
								type="xsd:boolean"/>
						<xsd:element maxOccurs="1"
								minOccurs="0"
								name="traderName"
								nillable="true"
								type="xsd:string"/>
						<xsd:element maxOccurs="1"
								minOccurs="0"
								name="traderCompanyType"
								nillable="true"
								type="xsd1:companyTypeCode"/>
						<xsd:element maxOccurs="1"
								minOccurs="0"
								name="traderAddress"
								type="xsd:string"/>
						<xsd:element maxOccurs="1"
								minOccurs="0"
								name="traderStreet"
								type="xsd:string"/>
						<xsd:element maxOccurs="1"
								minOccurs="0"
								name="traderPostcode"
								type="xsd:string"/>
						<xsd:element maxOccurs="1"
								minOccurs="0"
								name="traderCity"
								type="xsd:string"/>
						<xsd:element maxOccurs="1"
								minOccurs="0"
								name="traderNameMatch"
								type="xsd1:matchCode"/>
						<xsd:element maxOccurs="1"
								minOccurs="0"
								name="traderCompanyTypeMatch"
								type="xsd1:matchCode"/>
						<xsd:element maxOccurs="1"
								minOccurs="0"
								name="traderStreetMatch"
								type="xsd1:matchCode"/>
						<xsd:element maxOccurs="1"
								minOccurs="0"
								name="traderPostcodeMatch"
								type="xsd1:matchCode"/>
						<xsd:element maxOccurs="1"
								minOccurs="0"
								name="traderCityMatch"
								type="xsd1:matchCode"/>
						<xsd:element name="requestIdentifier"
								type="xsd:string"/>
					</xsd:sequence>
				</xsd:complexType>
			</xsd:element>
			<xsd:simpleType name="companyTypeCode">
				<xsd:restriction base="xsd:string">
					<xsd:pattern value="[A-Z]{2}\-[1-9][0-9]?"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:simpleType name="matchCode">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="1">
						<xsd:annotation>
							<xsd:documentation>VALID</xsd:documentation>
						</xsd:annotation>
					</xsd:enumeration>
					<xsd:enumeration value="2">
						<xsd:annotation>
							<xsd:documentation>INVALID</xsd:documentation>
						</xsd:annotation>
					</xsd:enumeration>
					<xsd:enumeration value="3">
						<xsd:annotation>
							<xsd:documentation>NOT_PROCESSED</xsd:documentation>
						</xsd:annotation>
					</xsd:enumeration>
				</xsd:restriction>
			</xsd:simpleType>
		</xsd:schema>
	</types>
	<message name="checkVatRequest">
		<part name="parameters"
				element="xsd1:checkVat"/>
	</message>
	<message name="checkVatApproxResponse">
		<part name="parameters"
				element="xsd1:checkVatApproxResponse"/>
	</message>
	<message name="checkVatApproxRequest">
		<part name="parameters"
				element="xsd1:checkVatApprox"/>
	</message>
	<message name="checkVatResponse">
		<part name="parameters"
				element="xsd1:checkVatResponse"/>
	</message>
	<portType name="checkVatPortType">
		<operation name="checkVat">
			<input name="checkVatRequest"
					message="tns:checkVatRequest"/>
			<output name="checkVatResponse"
					message="tns:checkVatResponse"/>
		</operation>
		<operation name="checkVatApprox">
			<input name="checkVatApproxRequest"
					message="tns:checkVatApproxRequest"/>
			<output name="checkVatApproxResponse"
					message="tns:checkVatApproxResponse"/>
		</operation>
	</portType>
	<binding name="checkVatBinding"
			type="tns:checkVatPortType">
		<soapbind:binding style="document"
				transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="checkVat">
			<soapbind:operation style="document"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
		<operation name="checkVatApprox">
			<soapbind:operation style="document"/>
			<input>
				<soapbind:body use="literal"/>
			</input>
			<output>
				<soapbind:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="checkVatService">
		<port name="checkVatPort"
				binding="tns:checkVatBinding">
			<soapbind:address location="http://ec.europa.eu/taxation_customs/vies/services/checkVatService"/>
		</port>
	</service>
</definitions>